@charset "UTF-8";

<style>
        body {
            background-color: skyblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: blue;
            background-color: blueviolet;
        }
        h2 {
            color: darkred;
        }
        p {
            text-align: justify;
        }
    </style>