@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #7a62637e;
    width: 600px;
    margin: auto;
}