@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

main {
    background-color: #A5A5A5;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #5A53537e;
    padding: 10px;
    margin: auto;
}
body{
background-image: linear-gradient(to right, #5A5353 40%, #92AD94);
font-family: "Work Sans", sans-serif;
font-size: 16px;
color: black;
}

h1 {
font-family: "Indie Flower", "cursive", "serif";
font-size: 3em;
color: black;
}

h2{
font-family: "Indie Flower", "cursive", "serif";
font-size: 2em;
color: black;
}
