@font-face {
    font-family: "love\ larry\ ttf.ttf";
    src: url("love\ larry\ ttf.ttf"); format:("ttf");
}
@font-face {
    font-family: "The Queen Marker";
    src: url("The\ Queen\ Marker.ttf"); format:("ttf");
    font-weight: normal;
    font-style: normal;
    /*
    Tipos de format()
    -opentype(otf)
    -truetype(ttf)
    -embedded-opentype
    -truetype aat(Apple-Advanced Typography)
    -svg
    */
}
main {
    background-color: #A5A5A5;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #5A53537e;
    padding: 10px;
    margin: auto;
}
body {
    background-image: linear-gradient(to right, #5A5353 40%, #92AD94);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "love\ larry\ ttf.ttf", Times, serif;
    font-size: 4em;
    font-weight: normal;
}
h2 {
    font-family: "The Queen Marker";
    font-size: 2em;
    font-weight: normal;
}